:root {
    // font Family
    --font-primary: 'Raleway', sans-serif;;
    --font-secondary: 'Poppins', sans-serif;

    // Color Variable
    --color-theme:   #C1925E;
    --color-theme-alt: #7E876C;
    --color-black:   #000000;
    --color-white: #ffffff;
}
