footer {

    .partner {
       padding: 3rem 0; 
       background-color: var(--color-white);
    }

    .footer-main {
        background-color: var(--color-black);
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../images/footer-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.1;
            z-index: -1;
        }
    }

    .footer-top {
        padding: 60px 0;
        
        .subscribe-email {
            input {
                background-color: transparent;
                border-radius: 0%;
                border-color: #989898;
            }
            button {
                position: absolute;
                right: 0;
                background-color: var(--color-theme);
                border: none;
                color: var(--color-white);
                top: 50%;
                transform: translateY(-50%);
                margin: 0 6px;
                padding: 10px 40px;
                font-weight: 600;
                font-size: 14px;
            }
        }

        .social-media {
            li:not(:last-child) {
                margin-right: 1.5rem;
            }
            a {
                color: var(--color-white);
                font-size: 20px;
            }
        }
    }

    .footer-center {
        .container {
            border-top: 1px solid rgba(255,255,255, 0.75);
            border-bottom: 1px solid rgba(255,255,255, 0.75);
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .footer-widget {
            h6 {
                color: var(--color-white);
                opacity: 0.8;
                font-size: 18px;
                margin-bottom: 30px;
            }
            p, ul li, a {
                color: var(--color-white);
                opacity: 0.8;
                font-size: 14px;
                line-height: 28px;
            }

            ul.featured-listing {
                li {
                    margin-bottom: 15px;
                }
                .thumb {
                    margin-right: 12px;
                }
                .text a {
                    font-weight: 500;
                    font-size: 1rem;
                    opacity: 1;
                }
            }

            ul.contact-info {
                li {
                    position: relative;
                    padding-left: 30px;

                    i {
                        position: absolute;
                        left: 0;
                        top: 8px;

                    }
                }
            }

        }
    }

    .footer-bottom {
        padding: 40px 0;
        p {
            color: var(--color-white);
            opacity: 0.8;
            font-size: 14px;
            line-height: 28px;
        }
    }


}